﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View mail feedback</title>
    <style>
        .contract {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 99%;
        }

            .contract td, .contract th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            .contract tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 20px">Team Smart Traffic notification</h2>
        <h3>Ngày {{Date}} lúc {{Time}} tại {{Location}} {{Description}}.</h3>
        <h3><a href="http://localhost:58424/">Xem google map tại đây</a></h3>
    </div>
</body>
</html>


