﻿@model IEnumerable<Model.EF.Notification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                @*<input id="roleID" value="@Session["CategoryNewID"].ToString()" type="hidden" />*@
                <h2>List Notification</h2>
                <a href="/AdminManager/NotificationAdmin/Create">Create notification</a>
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Description</th>
                            <th>Lat</th>
                            <th>Lnq</th>
                            <th>Status</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.Date</td>
                                <td>@item.Time</td>
                                <td>@item.Location</td>
                                <td>@item.Description</td>
                                <td>@item.lat</td>
                                <td>@item.lng</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p style="color:forestgreen">Active</p>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <p style="color:red">Locked</p>
                                    }
                                </td>

                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <a href="/AdminManager/NotificationAdmin/Edit/@item.ID">Edit</a>
                                        <a href="#" data-id="@item.ID" class="delete_Notificateion">Lock</a>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <a href="#" data-id="@item.ID" class="open_Notificateion">Open</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>
<script src="~/Assets/Admin/js/Delete.js"></script>
<script src="~/Assets/Admin/js/Notification.js"></script>