﻿@model IEnumerable<Model.EF.New>
@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/Assets/client/css/map.css" rel="stylesheet" />
}
@section mapDisplay{
    <div class="sec-main">
        <span class="sub-line">Smart Map</span>
    </div>
    <input id="dataMarker" style="display: none;" value="@ViewBag.DataNotifyCation" />
    <input id="dataMarker1" style="display: none;" value="@ViewBag.Complain" />
    <div id="map"></div>
    <div class="control-left-wrapper">
        <div class="zoom-in" id="zoom-in"><i class="fa fa-plus"></i></div>
        <div class="zoom-out" id="zoom-out"><i class="fa fa-minus"></i></div>
        <div class="current-location" id="current-location"><i class="fa fa-paper-plane"></i></div>
    </div>
}


@if (Session["CheckUserRegister"] != null)
{
    <script>
        swal("Notifycation", "Account has been registered. Please verify your email to continue.", "success")
            .then((value) => {
                window.location.href = "/";
            });
    </script>
}
@if (Session["CheckUserRegister1"] != null)
{
    <script>
        swal({
            title: "Notifycation",
            text: "Registration failed",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}
@if (Session["CheckUserRegister2"] != null)
{
    <script>
        swal({
            title: "Notifycation",
            text: "Information entered incorrectly",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}

@if (Session["Activate"] != null)
{
    <script>
        swal("Notifycation", "Verify success. Admin will check and activate your account within 24 hours. Please wait.", "success")
            .then((value) => {
                window.location.href = "/";
            });
    </script>
}
@if (Session["Activate1"] != null)
{
    <script>
        swal({
            title: "Notifycation",
            text: "Verify false.",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}

@if (ViewBag.CheckLogin == -1)
{
    <script>
        swal({
            title: "Login false",
            text: "You have not verified your account via email. Please verify your account.",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}
else if (ViewBag.CheckLogin == 0)
{
    <script>
        swal({
            title: "Login false",
            text: "Your account has been locked.",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}
else if (ViewBag.CheckLogin == 2)
{
    <script>
        swal({
            title: "Login false",
            text: "Your account has not been approved.",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}
else if (ViewBag.CheckLogin == -2)
{
    <script>
        swal({
            title: "Login false",
            text: "Account or password is incorrect.",
            icon: "warning",
            buttons: true,
            dangerMode: true
        })
            .then((value) => {
                window.location.href = "/";
            });

    </script>
}

@section requestEmergency{
    <div class="abt-pos">
        <h4>Request Emergency</h4>
        <div class="contcat-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-white">
                            Location
                        </label>
                        <input id="Location" class="form-control" type="text" placeholder="Please enter the location" name="Location" required="">
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <label class="text-white">
                            Name
                        </label>
                        <input id="Name" class="form-control" type="text" placeholder="Please enter name" name="Name" required="">
                    </div>
                </div>
            </div>
            @{
                var userRequest = (SmartTraffic.Common.UserLogin)Session["UserLogin"];
            }
            @if (userRequest != null)
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="text-white">
                                Phone
                            </label>
                            <input id="Phone" class="form-control" type="text" value="@userRequest.Phone" name="Phone" readonly="readonly" required="">
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <label class="text-white">
                                Email
                            </label>
                            <input id="EmailRequest" class="form-control" type="email" value="@userRequest.Email" readonly="readonly" name="EmailRequest"
                                   required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 mt-md-0 mt-4">
                            <label class="text-white">
                                Address
                            </label>
                            <input id="Address" class="form-control" type="text" value="@userRequest.AddressDetail" readonly="readonly" name="Address"
                                   required="">
                        </div>

                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="text-white">
                                Phone
                            </label>
                            <input id="Phone" class="form-control" type="text" placeholder="Please enter phone" name="Phone" required="">
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <label class="text-white">
                                Email
                            </label>
                            <input id="EmailRequest" class="form-control" type="email" placeholder="Please enter email" name="EmailRequest"
                                   required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 mt-md-0 mt-4">
                            <label class="text-white">
                                Address
                            </label>
                            <input id="Address" class="form-control" type="text" placeholder="Please enter lat" name="Address"
                                   required="">
                        </div>

                    </div>
                </div>
            }


            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" id="btn-requestEmergency" class="btn  btn-block w-100 font-weight-bold text-capitalize bg-theme1 text-white">
                        Submit
                        request
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@section contact{
    <div class="contact-wthree pt-lg-5" id="contact">
        <div class="container py-sm-5 py-4">
            <div class="sec-main">
                <span class="sub-line">Complaine with us</span>
                <h3 class="wthree-title">Complain</h3>
            </div>
            <div class="row py-md-4">
                <div class="col-lg-12 px-lg-0">
                    <div class="w3_pvt-contact-top">
                        <ul class="d-flex header-w3pvt pt-0 flex-column">
                            <li>
                                <span class="fa fa-home"></span>
                                <p class="d-inline">1234k Avenue,Block-4,Canada.</p>
                            </li>
                            <li class="my-3">
                                <span class="fa fa-envelope-open"></span>
                                <a href="mailto:example@email.com" class="text-secondary">info@example.com</a>
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                <p class="d-inline">+456 123 7890</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12 mt-4 px-0">
                        <!-- register form grid -->
                        <div class="contact-form">
                            <h4>send us a note</h4>
                            <div class="form-group">
                                <div class="row">
                                    @{
                                        var userContact = (SmartTraffic.Common.UserLogin)Session["UserLogin"];
                                    }
                                    @if (userContact != null)
                                    {
                                        <div class="col-lg-4">
                                            <label>
                                                Full name
                                            </label>
                                            <input class="form-control" type="text" value="@userContact.FirstName @userContact.LastName" readonly="readonly"
                                                   required="">
                                        </div>
                                        <div class="col-lg-4 my-lg-0 my-4">
                                            <label>
                                                Email
                                            </label>
                                            <input class="form-control" type="email" value="@userContact.Email" readonly="readonly"
                                                   required="">
                                        </div>
                                        <div class="col-lg-4">
                                            <label>
                                                Mobile
                                            </label>
                                            <input class="form-control" type="text" value="@userContact.Phone" readonly="readonly"
                                                   required="">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-4">
                                            <label>
                                                Full name
                                            </label>
                                            <input class="form-control" type="text" placeholder="Johnson" name="email"
                                                   required="">
                                        </div>
                                        <div class="col-lg-4 my-lg-0 my-4">
                                            <label>
                                                Email
                                            </label>
                                            <input class="form-control" type="email" placeholder="example@email.com"
                                                   name="email" required="">
                                        </div>
                                        <div class="col-lg-4">
                                            <label>
                                                Mobile
                                            </label>
                                            <input class="form-control" type="text" placeholder="xxxx xxxxx" name="email"
                                                   required="">
                                        </div>
                                    }
                                    <div class="offset-lg-3">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-8">
                                        <label>
                                            Your message
                                        </label>
                                        <textarea id="DescriptionContact" name="DescriptionContact" placeholder="Type your message here" class="form-control"></textarea>
                                    </div>
                                    <div class="col-md-4 d-flex mt-4">
                                        <button type="submit" id="btn-contact" class="btn btn-w3_pvt btn-block w-100 text-white font-weight-bold text-uppercase bg-theme1">
                                            Send
                                            message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section New{
    <section class="blog_w3ls pb-lg-5" id="posts">
        <div class="container pb-sm-5 pb-4">
            <div class="sec-main">
                <span class="sub-line">News</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" id="SearchValue" style="border: 1px solid #bdbdbd; border-radius: 5px; width: 50%" class="mr-2" />
                    <b>Search By :</b>
                    <select id="SearchBy" style="border: 1px solid #bdbdbd; border-radius: 5px;" class="mr-2">
                        <option value="Name">Name</option>
                        <option value="Title">Title</option>
                        <option value="Content">Content</option>
                    </select>
                    <input type="button" id="SearchBtn" value="Search" style="border: 1px solid #bdbdbd; border-radius: 5px;" class="mr-2" />
                </div>
            </div>
            <div class="row space-sec" id="DataSearching">

            </div>
            <script id="data-template" type="x-tmpl-mustache">
                <div class="col-lg-4 col-md-6 mt-sm-0 mt-4">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#exampleModal_{{ID}}" data-toggle="modal" aria-pressed="false" data-target="#exampleModal_{{ID}}"
                               role="button">
                                <img class="card-img-bottom" src="{{Image}}" alt="Card image cap">
                                <span class="fa fa-user post-icon bg-theme1" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="blog-title card-title font-weight-bold">
                                <a href="#exampleModal_{{ID}}" data-toggle="modal" aria-pressed="false" data-target="#exampleModal_{{ID}}"
                                   role="button" class="text-theme1">{{Name}}</a>
                            </h5>
                            <p>
                                {{Title}}
                            </p>
                            <button type="button" class="btn blog-btn wthree-bnr-btn mt-3 w3_pvt-link-bnr" data-toggle="modal"
                                    aria-pressed="false" data-target="#exampleModal_{{ID}}">
                                Read more
                            </button>
                        </div>
                    </div>
                </div>
            </script>
            <div id="pagination" class="pagination" style="text-align: center; margin-top: 10px;">
            </div>
        </div>
    </section>
}
@section News{
    <div id="DialogNews">
    </div>
}


@section Notification{
    <section class="blog_w3ls pb-lg-5" id="posts">
        <div class="container pb-sm-5 pb-4">
            <div class="sec-main">
                <span class="sub-line">Notifiaction</span>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" id="SearchValue1" style="border: 1px solid #bdbdbd; border-radius: 5px; width: 50%" class="mr-2" />
                    <b>Search By :</b>
                    <select id="SearchBy1" style="border: 1px solid #bdbdbd; border-radius: 5px;" class="mr-2">
                        <option value="Location">Location</option>
                        <option value="Description">Description</option>
                    </select>
                    <input type="button" id="SearchBtn1" value="Search" style="border: 1px solid #bdbdbd; border-radius: 5px;" class="mr-2" />
                </div>
            </div>
            <div class="row space-sec" id="DataSearching1">

            </div>
            <script id="data-template1" type="x-tmpl-mustache">
                <div class="col-lg-4 col-md-6 mt-sm-0 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="blog-title card-title font-weight-bold">
                                <a href="#exampleModal_n{{ID}}" data-toggle="modal" aria-pressed="false" data-target="#exampleModal_n{{ID}}"
                                   role="button" class="text-theme1">Location:{{Location}}</a>
                            </h5>
                            <p>
                                {{Description}}
                            </p>
                            <p>Date: {{Date}}</p>
                            <button type="button" class="btn blog-btn wthree-bnr-btn mt-3 w3_pvt-link-bnr" data-toggle="modal"
                                    aria-pressed="false" data-target="#exampleModal_n{{ID}}">
                                Read more
                            </button>
                        </div>
                    </div>
                </div>
            </script>
            <div id="pagination1" class="pagination" style="text-align: center; margin-top: 10px;">
            </div>
        </div>
    </section>
}
@section Notifications{
    <div id="DialogNotifications">
    </div>
}



@section feedbackQuestion{
    <section class="why-sec" id="services">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-6 bg-img1 order-lg-0 order-1 mt-lg-0 mt-4">
                </div>
                <div class="offset-lg-1 col-lg-5 order-lg-1 order-0 ">
                    <div class="sec-main">
                        <span class="sub-line">Question of people</span>
                        <h3 class="wthree-title">Feedback</h3>
                    </div>
                    <ul class="list-group mt-3 why-list " style="overflow: auto;">
                        @foreach (var item in ViewBag.Question)
                        {
                            <li class="list-group-item border-0">
                                <span class="num mr-3">-</span>@item.Description
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

@section jsFooter{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY6H84yE2eLGCdVI6_lcauSxb2Tar0N6k"></script>
    <script src="~/Assets/client/js/map.js"></script>
    <script src="~/Assets/client/js/infobox.js"></script>
    <script src="~/Assets/client/js/markerclusterer.js"></script>
    <script src="~/Assets/client/js/controller/contactController.js"></script>
    <script src="~/Assets/client/js/controller/requestController.js"></script>
    <script src="~/Assets/client/js/controller/searchNewController.js"></script>
    <script src="~/Assets/client/js/controller/SearchNewController1.js"></script>
    <script src="~/Assets/client/js/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/client/js/plugins/mustache.min.js"></script>
    <script src="~/Assets/client/js/controller/homeController.js"></script>
    <script src="~/Assets/client/js/controller/homeController1.js"></script>
}