﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmail</title>
</head>
<body>
    <div> 
        <h3>Verify your email.</h3>
        <p>----------------------------------------------</p>
        <h5>Hello {{LastName}}, {{FirstName}}</h5>
        <h5><a href="http://localhost:58424/verify-email/{{UserID}}/{{Salt}}">Activate your account here</a></h5>
        <p>----------------------------------------------</p>
        <h5 style="color:red">Thank you registed.</h5>
    </div>
</body>
</html>
