﻿
#map {
    height: 500px;
    width: 100%;
}

#mapSmart {
    position: relative;
}
.control-left-wrapper {
    z-index: 0;
    position: absolute;
    left: 30;
    top: 70px;
    cursor: pointer;
    margin: 14px 10px 0;
}

    .control-left-wrapper .zoom-in, .zoom-out, .current-location {
        background: #008000;
        padding: 7px;
        color: white;
        font-size: 15px;
        margin-bottom: 5px;
    }

#container-infobox {
    background: white;
    height: auto;
    padding: 10px;
}
