/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    color: #333;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.8;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

.list-group-item {
    background-color: transparent;
}

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 85px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* header */

a.navbar-brand {
    z-index: 11;
}

.header-main {
    position: absolute;
    width: 100%;
    padding: 0 2em;
    top: 30px;
    z-index: 11;
}

.navbar-light {
    padding: 1.4em 0;
}

a.navbar-brand {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75em;
    background: #fff;
    padding: 0 10px;
    color: #ff9800;
    letter-spacing: 1px;
}

a.navbar-brand::first-letter {
    color: #80cd33;
}

a.navbar-brand span {
    color: #00bcd4;
}

header {
    background: #ff5252;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 15px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    font-size: 14px;
    letter-spacing: 1px;
}

ul.navbar-nav.ml-lg-auto.text-center {
    margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
    background: #ff9a06;
    border-radius: 10px;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item,
.dropdown-item.active,
.dropdown-item:active {
    background-color: white;
    color: #000 !important;
    font-weight: 600;
    text-transform: capitalize;
}

.w3ls-btn {
    background: transparent;
    padding: 4px 15px;
    color: #fff;
    text-transform: capitalize;
}

.header-w3_pvt li:last-child {
    margin-left: 1em;
}

.w3ls-btn i {
    font-size: 1.8em;
    color: #fff;
}

ul.header-w3_pvt li span {
    margin-right: 1em;
    color: #fff;
}

.header-top {
    padding: 0.5em 0;
    background: #000;
}

.banner-left-grid {
    border: 10px solid rgba(226, 226, 226, 0.28);
}

.text-theme1 {
    color: #00bcd4 !important;
}

.text-theme2 {
    color: #ff9800 !important;
}

.text-theme3 {
    color: #80cd33 !important;
}

.bg-theme1 {
    background: #00bcd4 !important;
}

.bg-theme2 {
    background: #ff9800 !important;
}

.bg-theme3 {
    background: #80cd33 !important;
}

/*-- //header --*/

/* banner */

.banner {
    position: relative;
    z-index: 0;
    min-height: 100vh;
}

#slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
}

ul.callbacks_tabs {
    position: absolute;
    z-index: 2;
    left: 13%;
    bottom: 30px;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    visibility: visible;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
}

.callbacks_here a:after {
    background: #000;
    opacity: 0.5;
}

.slide-btm-wthree-w3_pvt p i {
    color: #e3ebef;
    font-size: 2em;
    margin-right: 15px;
}

.slide-btm-wthree-pos span {
    color: #eee;
}

/*
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 78%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	left: auto;
	background: url("../images/back.png") no-repeat 0px 0px;
	left: 18em;
}
.callbacks_nav.next {
	left: auto;
	background: url("../images/next.png") no-repeat 0px 0px;
	right: 18em;
}
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks2_nav:active {
	opacity: 1.0;
}*/

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}

#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider-pager a {
    padding: 0;
}

#slider-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}

.rslides li {
    position: relative;
    display: block;
    float: none;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs li {
    display: inline-block;
}

.callbacks_tabs a {
    visibility: hidden;
    width: 20px;
    line-height: 19px;
    height: 20px;
    text-align: center;
    color: #000;
    font-weight: 600;
    display: block;
    background: #fff;
    border-radius: 50%;
}

.callbacks_tabs a:hover {
    background: #1165f3;
    color: #fff;
}

.banner1 {
    background: url(../images/newUpdate.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner2 {
    background: url(../images/banner2.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner3 {
    background: url(../images/banner3.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

/*  
.banner:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner3:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.36);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
*/

.banner-text {
    box-sizing: border-box;
}

.slider-info {
    left: 13%;
    top: 34%;
    position: absolute;
    z-index: 1;
}

.slider-info h3 {
    font-size: 4.5em;
    text-transform: capitalize;
    color: #f3f3f3;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.3;
    text-shadow: 1px 4px 9px #000000;
}

.slider-info span.line {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 6px;
    margin-bottom: 15px;
    display: block;
}

.slider-info h3 span {
    color: #ffffff;
    border-bottom: 2px dotted #000;
}

.w3_pvt-link-bnr {
    padding: 8px 36px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 30px;
    background: #fff;
    box-shadow: 1px 3px 1px #ff9800;
}

.w3_pvt-link-bnr:hover {
    color: #000;
}

.slider-info p {
    letter-spacing: 1px;
    margin-top: 1em;
    font-size: 1.2em;
    width: 65%;
}

/* //banner */

/* about */

.about-head {
    padding: 4em 0;
}

span.sub-line:before {
    content: '';
    display: inline-block;
    background: #80cd33;
    height: 3px;
    width: 50px;
    margin-right: 10px;
}

span.sub-line {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2em;
    color: #ff5252;
}

h3.wthree-title {
    color: #00bcd4;
    text-transform: capitalize;
    font-size: 1.6em;
    font-weight: 800;
    margin-top: 10px;
}

.sec-main {
    margin-bottom: 2em;
}

.w3-about p {
    width: 55%;
}

ul.list-about {
    list-style-type: square;
    padding-left: 1em;
}

ul.list-about li {
    padding: 10px 15px 10px 0;
    margin-right: 1em;
    text-transform: uppercase;
    color: #333;
    font-weight: 800;
    letter-spacing: 1px;
}

.ab-btm h4 {
    color: #ff9800;
    font-size: 1.3em;
    text-transform: capitalize;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.ab-btm {
    margin-top: 2em;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #333;
}

form.register-wthree .form-control {
    background: #eee;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #0cc5b7;
    border-radius: 0;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
}

.abt-pos {
    position: absolute;
    right: 0;
    width: 35%;
    top: -85px;
    padding: 2em;
    background: #ff5252;
}

textarea.form-control {
    min-height: 191px;
    resize: none;
}

.abt-pos h4 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 17px;
}

/* //about */

/* why us */

.bg-img1 {
    background: url(../images/g6.jpg) no-repeat;
    background-size: cover;
    min-height: 400px;
}

section.why-sec {
    background: #eee;
}

ul.list-group.mt-3.why-list li {
    font-size: 1.1em;
    color: #000;
    font-weight: 400;
}

.why-list li span {
    color: #ff9800;
    font-weight: 800;
}

/* //why us */

.w3ls-servgrid.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2rem;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    margin-left: 2em;
}

a.servgrid_link {
    color: #ff9800;
    font-weight: 600;
    padding: 0;
    font-size: 16px;
}

.card-title {
    font-size: 14px;
    margin-top: 0.5em;
}

.w3ls-servgrid.card-header::after {
    content: "";
    display: table;
    clear: both;
}

.w3ls-servgrid.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #ff5722;
    transition: 0.5s;
}

h4.serv-title {
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

.w3ls-servgrid.card:hover,
.w3ls-servgrid.card.service-active {
    transform: scale(1.2);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    z-index: 1;
}

.w3ls-servgrid.card:hover p,
.w3ls-servgrid.service-active p {
    color: #000;
}

.w3ls-servgrid.card.service-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff5722;
    transition: 0.5s;
}

.w3ls-servgrid.card:hover:after {
    width: 100%;
}

h4.servgrid-title {
    font-size: 1.2em;
}

.w3ls-servgrid .card-block {
    padding-top: 0;
}

/* //servgrid */

/* footer */
.footer:before {
    background: rgba(0, 0, 0, 0.58);
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
}

.footer {
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.text-theme {
    color: #2391e2;
}

.footer h2 a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 600;
}

/* footer grids */

.footerv3-top h3 {
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.fv3-contact span {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

.footv3-left h4 a {
    font-size: 1.3em;
    letter-spacing: 0.5px;
    color: #fff !important;
    padding: 14px 0 0;
    position: relative;
    text-transform: capitalize;
}

h4.footer-title {
    color: #777;
    text-transform: capitalize;
}

.footerv3-top p {
    font-size: 1em;
    color: #a3b1bf;
    margin: 1em 0;
    line-height: 1.5em;
}

.footer p a {
    color: #fff;
    text-decoration: underline;
}

.footer p a:hover {
    color: #fff;
}

.fv3-contact p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
}

.footer-top p {
    max-width: 400px;
    font-size: 16px;
}

.fv3-contact p a:hover {
    color: #646efa
}

.list-w3pvtits li a {
    color: #fff;
    font-size: 1em;
}

h3.w3f_title {
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
}

.cpy-right p {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
}

.cpy-right p a {
    color: #000;
    font-size: 1em;
}

.cpy-right {
    padding: 1vw;
    background: #ff5252;
}

/* footer grids */
/* team  */
hr {
    border-top: 1px solid rgba(245, 245, 245, 0.55);
}

.team-text h4 {
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    border-radius: 25px;
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.team-text {
    padding: 1em;
}

.team-text span {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.team-text p {
    font-size: 15px;
    color: #fff;
}

h6.team-txt {
    font-size: 1.2em;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 1px;
}

span.icon_twitter {
    background: #1da1f2;
}

span.icon_facebook {
    background: #3b5998;
}

span.icon_dribbble {
    background: #ea4c89;
}

span.icon_g_plus {
    background: #dd4b39;
}

.footerv4-social ul li a {
    color: #212121;
}

.footerv4-social ul li span {
    margin-right: 10px;
    color: #fff;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
}

.footerv4-social ul li a {
    color: #212121;
}

.footerv4-social ul li:hover a {
    color: #fff;
    text-decoration: none;
}


/* //team  */
/* //footer */

.title-desc p {
    letter-spacing: 1px;
}

p.child_second {
    width: 555px;
    margin-left: auto;
}

h3.main-title-w3pvt {
    font-size: 3em;
    font-weight: 600;
    color: #000;
}

.contact-form h4 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3em;
    color: #333;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(120, 120, 120, 0.37);
}

.w3_pvt-contact-top {
    margin-bottom: 3em;
}

.close {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

ul.social-iconsv2 li {
    display: inline-block;
    border-radius: 50%;
}

ul.social-iconsv2 li a {
    text-decoration: none;
    font-size: 16px;
}

ul.social-iconsv2 li a i.fab {
    font-size: 18px;
    line-height: 38px;
    width: 30px;
    height: 37px;
    color: #000;
    margin-right: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

ul.list-w3_pvtits li a {
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

ul.social-iconsv2 li:first-child a {
    color: #3b5998;
}

ul.social-iconsv2 li:last-child {
    color: #287bbc;
}

.cpy-right p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
}

/* //end fixed social */

/* login */

.modal-title {
    letter-spacing: 1px;
    font-size: 1.3em;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    border: 10px solid #fff;
    border-radius: 0.3rem;
    outline: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.right-w3l input[type="submit"] {
    background: #333;
    border: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.col-form-label {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
}

.modal-header {
    color: #eee;
    border: none;
    text-transform: capitalize;
    margin: 0 auto;
    width: 100%;
    background: #00bcd4;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

/* //modal */

/* about */

.about-left-wthree {
    padding: 5em 13em 10em 0;
}

.about-right-bg {
    min-height: 70vh;
}

.about-right-bg {
    background: url(../images/p1.jpg) no-repeat center;
    background-size: cover;
}

/* about */

/* services */

.service-txt {
    padding: 8em 0em 8em 4em;
}

.services-box:nth-child(2) {
    border: dashed #dfe0e1;
    border-width: 1px 0;
}

.services-box {
    padding: 20px 0;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

.services-box:hover {
    background: #f2f2f2;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari and Chrome */
    -o-transition: all 1s;
    /* Opera */
}

.services-box:hover i {
    background: transparent;
    border-radius: 100px;
    color: #dc143c;
}

.service-sub-grids {
    padding: 5em 4em 30em 0;
}

.about-wthree1 {
    padding: 6em 0 3em;
    margin-top: -11em;
}

.about-left-wthree1 {
    padding: 10em 13em 8em 0;
}

section.services-wthreepvt {
    padding-bottom: 7em;
}

.icon i {
    width: 70px;
    height: 70px;
    color: #dc143c;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 2.5em;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.service-content {
    margin-left: 1em;
}

.service-content h4 {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
    color: #212121;
}

.service-content span {
    font-size: 1.1em;
    text-transform: capitalize;
    color: #777;
}

.service-txt h5 {
    text-transform: capitalize;
    font-size: 2.5em;
    color: #ff4f81;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
}

.service-top-img img {
    position: absolute;
    top: -80px;
    right: 0;
}

.service-bottom-img img {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}

.services-bottom {
    padding-top: 22em;
}

.about-wthree.about-left-wthree img {
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 5px 0px 10px 5px rgba(123, 120, 120, 0.42);
}

/* //services */

/* gallery */

.img-grid {
    padding: 1em;
    background: #eee;
    margin: 10px;
}

.port-desc {
    padding: 1em 0.5em;
}

h6.main-title-w3pvt {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
    color: #ff5252;
    letter-spacing: 0.5px;
}


.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 188, 212, 0.36);
}

#image-gallery .modal-footer {
    display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* //gallery */

/* team */

.team-right-grid {
    right: 0;
    top: 0;
    width: 29.75%;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    background: #fff;
}

.box5 {
    background: #444;
    position: relative;
    overflow: hidden;
}

.box5:after,
.box5:before {
    content: "";
}

.box5 .icon,
.box5 .icon li {
    display: inline-block;
}

.box5:after,
.box5:before {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    top: -80px;
    left: 15px;
    opacity: 0;
    z-index: 1;
    transition: all .35s ease;
    -webkit-transition: all .35s ease-in;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .35s ease;
}

.box5:after {
    top: auto;
    left: auto;
    bottom: -80px;
    right: 15px
}

.box5:hover:after,
.box5:hover:before {
    opacity: .75;
    transform: scale(8);
    transition-delay: .15s
}

.box5 img {
    width: 100%;
    height: auto;
    transition: all .35s ease-out 0s
}

.box5 .icon {
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    transform: scale(0);
    transition: all .35s ease-out
}

.box5:hover .icon {
    transform: scale(1);
    transition-delay: .15s
}

.box5 .icon li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-size: 18px;
    color: #444;
    margin-right: 10px;
    position: relative;
    transition: all .5s ease 0s;
    border-radius: 50%;
    text-align: center;
}

.box5 .icon li a:hover {
    background: #444;
    color: #fff
}

.box5 .box-content {
    padding: 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.box5 .title {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 5px;
    opacity: 0;
    transform: translate(-20px, -20px);
    transition: all .35s ease-out
}

.box5:hover .title {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .15s
}

.box5 .post {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transform: translate(-20px, -20px);
    transition: all .35s ease-out
}

.box5:hover .post {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .15s
}

.box6 .title,
.box6 img,
.box6:after {
    transition: all .35s ease 0s
}

@media only screen and (max-width:990px) {
    .box5 {
        margin-bottom: 30px
    }
}

/* team */

/* servgrid  */

section.why-sec {
    padding: 3em 0 4em;
}

.services-w3sec {
    background: #f6f6f6;
    padding-bottom: 6em;
}

.servgrid-row {
    padding-top: 6em;
}

section {
    box-sizing: border-box;
}

.container .column {
    position: relative;
    width: 380px;
    float: left;
    transition: 0.5s;
}

.container .column .box {
    position: relative;
    width: 290px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(0deg, #fbadc3, #febdd0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0 0 0 6px #ffffff, 0 0 0 10px #ff4f81, 0 0 0 20px #e2e2e2, 0 10px 150px rgb(255, 255, 255);
    overflow-y: hidden;
    transition: 0.5s;
}

.container .column .box:hover {
    transform: scale(1.1);
}

.container .column .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 79, 129, 0.23);
    pointer-events: none;
}

.container .column .box .title .fa {
    margin-top: 20px;
    font-size: 2em;
    color: #ff4f81;
}

.title h5 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 10px;
}

.servgrid h4 {
    font-size: 2em;
    font-weight: 600;
    color: #333;
    margin: 10px 0 0;
}

.container .column .box .option ul {
    margin: 20px 0;
    padding: 0;
}

.container .column .box .option ul li {
    list-style: none;
    color: #333;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 79, 129, 0.31);
}

.container .column .box .bg-theme {
    font-weight: bold;
    margin: 0 auto;
}

/* //servgrid */

/* stats */

p.slide-txt {
    width: 90%;
}

.bg-theme1.slide-left {
    padding: 8em 3em;
}

section.w3_pvt_stats {
    background: url(../images/banner1.jpg) no-repeat top;
    background-size: cover;
    position: relative;
    z-index: 0;
}

section.w3_pvt_stats:before {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    content: '';
    background: rgba(13, 17, 18, 0.13);
    z-index: -1;
}

p.count-text {
    letter-spacing: 2px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1em;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

.timer {
    font-size: 2em;
    font-weight: 600;
    width: 120px;
    height: 120px;
    background: #80cd33;
    border: 8px solid #fff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}

p.stat-txt {
    width: 60%;
    margin-bottom: 2em;
}

/* //stats */

/* section title */

h3.main-title-w3_pvt {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 2.3em;
    color: #ff725a;
    margin-bottom: 15px;
}

.title-section {
    position: relative;
}

span.title-line:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #000;
    border: 3px solid #fff;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -7px;
    left: 48%;
}

span.title-line {
    border: 1px solid #ff4f81;
    height: 1px;
    display: block;
    width: 200px;
    position: relative;
}

.space-sec1 {
    margin-top: 1em;
}

.space-sec {
    margin-top: 3em;
}

/* //section title */

/* blog */

span.fa.fa-user.post-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 41px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 50%;
    bottom: -20px;
    color: #fff;
    right: 10px;
    border: 5px solid #eae9ea;
    background: #f5a317;
}

h5.blog-title a {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #80cd33;
    text-shadow: 1px 1px 1px #fff;
    letter-spacing: 1px;
    display: block;
    background: #fff;
    padding: 7px 10px;
    font-weight: 800;
    border-radius: 16px;
}

.blog-btn {
    background: transparent;
    font-weight: 400;
    color: #000000;
}

.card-body {
    background: #eae9ea;
}

/* //blog */

/* contact */
.btn-w3_pvt {
    letter-spacing: 1px;
    font-size: 1.2em;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

form.register-wthree .form-control {
    background: #eee;
    font-size: 0.9em;
}

form.register-wthree button {
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
}

form.register-wthree .form-control {
    background: #eee;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #a2a2a2;
    border-radius: 0;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
}

.map iframe {
    width: 100%;
    border: 1px solid #ff4f81;
    min-height: 450px;
    margin-top: 1em;
}

/* //contact */

/* footer variant4 */

.wthree-social ul li {
    display: inline-block;
}

ul.d-flex.header-w3pvt li span {
    margin-right: 1em;
    color: #ff9800;
}

span.icon_twitter {
    background: #1da1f2;
}

span.icon_facebook {
    background: #3b5998;
}

span.icon_dribbble {
    background: #ea4c89;
}

span.icon_g_plus {
    background: #dd4b39;
}

.wthree-social ul li span {
    margin-right: 10px;
    color: #fff;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
}

.cpy-right {
    padding: 1em 0;
}

.cpy-right p a {
    color: #fff;
}

/* -- Responsive code -- */

@media screen and (max-width: 1440px) {
    .slider-info h3 {
        font-size: 4em;
    }

    .timer {
        font-size: 1.8em;
    }
    .abt-pos {
        width: 45%;
    }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {
    .slider-info h3 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1080px) {
    h5.blog-title a {
        font-size: 1em;
    }
}

@media screen and (max-width: 1050px) {
    .slider-info h3 {
        font-size: 3em;
    }

    .timer {
        font-size: 1.6em;
        width: 100px;
        height: 100px;
        line-height: 80px;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {
    .slider-info {
        left: 6%;
    }

    .slider-info h3 {
        font-size: 2.8em;
    }

    .slider-info p {
        font-size: 1em;
    }

    ul.callbacks_tabs {
        left: 50px;
    }

    .abt-pos {
        position: inherit;
        width: 100%;
        top: 0;
    }

    .w3-about p {
        width: 100%;
    }

    .navbar-light .navbar-toggler {
        margin: 0 auto;
    }

    .dropdown-item {
        text-align: center;
    }

    section.why-sec {
        padding: 2em 0;
    }

    .services-w3sec {
        padding-bottom: 2em;
    }

    .w3ls-servgrid.card {
        margin-left: 0;
    }

    .w3ls-servgrid.card:hover,
    .w3ls-servgrid.card.service-active {
        transform: scale(1);
    }

    p.stat-txt {
        width: 100%;
        margin-bottom: 0em;
    }

}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 800px) {
    .slider-info h3 {
        font-size: 2.5em;
    }

    .w3ls-servgrid.card:hover,
    .w3ls-servgrid.card.service-active {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    h3.wthree-title {
        font-size: 1.4em;
    }

    span.sub-line {
        font-size: 1em;
    }

    .navbar-light {
        padding: 1em 0;
    }

    ul.list-about li {
        font-size: 14px;
    }

    .ab-btm h4 {
        font-size: 1.1em;
    }

    .w3_pvt-link-bnr {
        padding: 7px 26px;
        font-size: 14px;
        letter-spacing: 0px;
    }

    .about-head {
        padding: 3em 0;
    }

    .w3ls-servgrid.card:hover,
    .w3ls-servgrid.card.service-active {
        transform: scale(1);
    }
}

@media screen and (max-width: 736px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 13px;
    }

    ul.list-group.mt-3.why-list li {
        font-size: 1em;
    }
}

@media screen and (max-width: 667px) {
    .slider-info h3 {
        font-size: 2.4em;
    }

    p.count-text {
        letter-spacing: 1px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 600px) {
    .slider-info h3 {
        font-size: 2em;
    }

    .services-w3sec {
        padding-bottom: 1em;
    }

}

@media screen and (max-width: 568px) {
    .slider-info h3 {
        font-size: 1.8em;
    }

    .slider-info p {
        width: 80%;
    }

    .about-head {
        padding: 2em 0;
    }

    .sec-main {
        margin-bottom: 1em;
    }
    .space-sec {
        margin-top: 1em;
    }
    .testi-img {
        width: 35%;
        margin: 0 auto;
    }
    .card .carousel-item {
        height: 420px;
    }
    .map iframe {
        margin-top: 0;
        min-height: 350px;
    }
    .btn-w3_pvt {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .header-main {
        padding: 0 1em;
    }

    .abt-pos h4 {
        font-size: 1.3em;
    }

    .abt-pos {
        padding: 1em;
    }

    h4.serv-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 414px) {
    .slider-info h3 {
        font-size: 1.5em;
    }

    .timer {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 384px) {
    ul.list-about li {
        font-size: 13px;
        letter-spacing: 0;
        padding: 10px 13px 10px 0;
    }

    .team-text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .slider-info p {
        width: 90%;
    }

    a.navbar-brand {
        font-size: 0.6em;
    }

    h6.main-title-w3pvt {
        margin-bottom: 0.5em;
    }
    .card .carousel-item {
        height: 380px;
    }
}

@media screen and (max-width: 320px) {
    .slider-info {
        top: 30%;
    }

    .slider-info h3 {
        font-size: 1.3em;
    }

    ul.list-about {
        padding-left: 3px;
    }
    h5.blog-title a {
        font-size: 0.92em;
    }
}

/* -- //Responsive code -- */

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .page-link:focus {
        z-index: 2;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .page-link:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}