﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View mail feedback</title>
    <style>
        .contract {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 99%;
        }

            .contract td, .contract th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            .contract tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 20px">Team Smart Traffic notification</h2>
        <h3>Hello your <label>{{FirstName}} {{LastName}}</label> We get feedback from your {{Email}}, we will fix this as soon as possible.</h3>

        <p>----------------------------------------------------------------------------------</p>
        <h3 style="color: red;">Thank you for your feedback.</h3>
    </div>
</body>
</html>


