﻿@model IEnumerable<Model.EF.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                @*<input id="roleID" value="@Session["CategoryNewID"].ToString()" type="hidden" />*@
                <h2>List feedBack of user</h2>
                @*@Html.ActionLink("Create Role", "Create", new { id = ViewBag.InsuranceID })*@
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User--Email User</th>
                            <th>Description</th>
                            <th>CreateDate</th>
                            <th>UpdateDate</th>
                            <th>Status</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>
                                    @foreach (var item1 in ViewBag.getUserOfFeedback)
                                    {
                                        if (item.UserID == item1.ID)
                                        {
                                            <label>@item1.FirstName</label>
                                            <label>@item1.LastName</label>
                                            <p>@item1.Email</p>
                                        }
                                    }
                                </td>
                                <td>@item.Description</td>
                                <td>@item.CreateDate.Value.ToShortDateString()</td>
                                <td>@item.UpdateDate.Value.ToShortDateString()</td>
                                <td>
                                    @if (item.Status == 0)
                                    {
                                        <p style="color:forestgreen">Feedback to users</p>
                                    }
                                    else if (item.Status == 1)
                                    {
                                        <p style="color:green">Feedback sent to users</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == 0)
                                    {
                                        <a href="#" data-id="@item.ID" class="btn-feedback">Send feedback about users</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>
<script src="~/Assets/Admin/js/FeedbackAdmin.js"></script>