﻿<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Alphabet Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/Assets/client/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- portfolio -->
    <link href="/Assets/client/css/gallery.css" type="text/css" rel="stylesheet" media="all">
    <!-- testimonials -->
    <link href="/Assets/client/css/testimonials.css" type="text/css" rel="stylesheet" media="all">
    <link href="/Assets/client/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/Assets/client/css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    @RenderSection("css", required: false)
    <!-- //online-fonts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_gb/sdk.js#xfbml=1&version=v3.2&appId=434997377309362&autoLogAppEvents=1"></script>

    <!-- banner -->
    <div id="home" class="position-relative">
        <div class="header-main">
            <div class="d-sm-flex justify-content-between">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        Sm<span>a</span>r<span>t </span>T<span>r</span>a<span>f</span><span>f</span><span>i</span><span>c</span>
                    </a>
                </h1>
                <div class="hearder-right-w3_pvt d-flex justify-content-sm-end align-items-center  mt-sm-0 mt-4">
                    <ul class="d-flex header-w3_pvt">
                        @{
                            var user = (SmartTraffic.Common.UserLogin)Session["UserLogin"];
                        }
                        @if (user != null)
                        {
                            <li>
                                @user.LastName , @user.FirstName
                            </li>
                        }
                        else
                        {
                            <li>
                                <button type="button" class="btn w3ls-btn d-block" data-toggle="modal" aria-pressed="false"
                                        data-target="#exampleModal1">
                                    <span class="fa fa-sign-in"></span>Register
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn w3ls-btn btn-2  d-block" data-toggle="modal" aria-pressed="false"
                                        data-target="#exampleModal">
                                    <span class="fa fa-lock"></span> Sign in
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme1 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner1 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Fastest news update with you</span>
                            <h3>Change <span>life</span> better</h3>
                            <p class="text-white">
                                We always want the smooth transportation system to make your life easier
                            </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">
                                View
                                More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme2 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner2 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Journey to change life</span>
                            <h3>Step out <span>of the</span> congestion</h3>
                            <p class="text-white">
                                Reduce traffic congestion, update your road situation
                            </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">
                                View
                                More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme3 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner3 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Connect love</span>
                            <h3>Connecting <span>you with</span> people</h3>
                            <p class="text-white">
                                People can complain or send an urgent request, everyone around you will help you
                            </p>
                            <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll" href="#about" role="button">
                                View
                                More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- //banner -->
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  text-center">
                        <li class="nav-item active  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" href="index.html">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#about">about</a>
                        </li>
                        <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item scroll" href="#services">services</a>
                                <a class="dropdown-item scroll" href="#stat">facts</a>
                                <a class="dropdown-item scroll" href="#team">team</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item scroll" href="#portfolio">gallery</a>
                                <a class="dropdown-item scroll" href="#posts">latest posts</a>
                                <a class="dropdown-item scroll" href="#testimonials">testimonials</a>
                            </div>
                        </li>
                        <li class="nav-item  mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item  mt-lg-0 mt-3">
                            <a class="nav-link scroll" href="#mapSmart">Smart Map</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- about -->
    <section class="wthree-row  w3-about position-relative" id="about">
        <div class="container">
            <div class="about-head">
                <div class="sec-main">
                    <span class="sub-line">about us</span>
                    <h3 class="wthree-title">welcome to alphabet</h3>
                </div>
                <p>
                    Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper
                    varius orci.
                    Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent.
                </p>
                <div class="ab-btm">
                    <h4>presenting you activities</h4>
                    <ul class="list-about d-flex">
                        <li>
                            Music
                        </li>
                        <li>
                            Learn
                        </li>
                        <li>
                            Painting
                        </li>
                        <li>
                            Sports
                        </li>
                    </ul>
                    <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll bg-theme3 text-white" href="#services" role="button">
                        Know
                        More
                    </a>
                </div>
            </div>
        </div>
        @RenderSection("requestEmergency", required: true)
    </section>
    @RenderSection("feedbackQuestion", required: true)

    <div class="map p-2" id="mapSmart">
        <div class="container">
            @RenderSection("mapDisplay", required: false)
        </div>
    </div>


    @RenderBody()
    @RenderSection("New", required: true)
    @RenderSection("Notification", required: true)
    <!-- testimonials -->
    <div class="testimonials-wthree py-lg-5 py-4 text-center" id="testimonials">
        <div class="container">
            <div class="sec-main text-left">
                <span class="sub-line text-white">feedback</span>
                <h3 class="wthree-title text-theme2">what happy parents say?</h3>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto slide-left-wthree">
                    <div class="card mt-md-3">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
                            <div class="w-100 carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-4">
                                                <div class="testi-img">
                                                    <img src="/Assets/client/images/t1.jpg" alt="" class="rounded-circle img-fluid" />
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-8 mt-sm-0 mt-4">
                                                <h3>Gives me hope</h3>
                                                <p class="my-3">
                                                    Cras justo odio, dapibus ac facilisis in, egestas eget
                                                    quam. Donec
                                                    id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                                                    ultricies vehicula ut id elit.
                                                </p>
                                                <p class="text-theme">- Yayo Dudemous</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-4">
                                                <div class="testi-img">
                                                    <img src="/Assets/client/images/t2.jpg" alt="" class="rounded-circle img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-8 mt-sm-0 mt-4">
                                                <h3>You will love it.</h3>
                                                <p class="my-3">
                                                    Cras justo odio, dapibus ac facilisis in, egestas eget
                                                    quam. Donec
                                                    id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                                                    ultricies vehicula ut id elit.
                                                </p>
                                                <p class="text-theme">- Yayo Dudemous</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-4">
                                                <div class="testi-img">
                                                    <img src="/Assets/client/images/t3.jpg" alt="" class="rounded-circle img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-8 mt-sm-0 mt-4">
                                                <h3>Velvet pouch!</h3>
                                                <p class="my-3">
                                                    Cras justo odio, dapibus ac facilisis in, egestas eget
                                                    quam. Donec
                                                    id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
                                                    ultricies vehicula ut id elit.
                                                </p>
                                                <p class="text-theme">- Yayo Dudemous</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right navi">
                                <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- contact -->
    @RenderSection("contact", required: true)
    <!-- //contact -->
    <!-- map -->
    <!--// map-->
    <!-- footer -->

    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
        <div class="container-fluid">
            <div class="row p-sm-4 px-3 py-5">
                <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                    <h2>
                        <a class="navbar-brand" href="index.html">
                            Al<span>p</span>h<span>a</span>b<span>e</span>t
                        </a>
                    </h2>
                    <p class="my-3 text-white">
                        Donec consequat sam libero tempore, cum soluta nobis est eligendi optio
                        cumque
                        nihil impedit quo minus
                    </p>
                    <p class="text-white">
                        Id quod possimusapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper
                        varius
                        orci.
                    </p>
                </div>
                <div class="col-lg-2  col-md-6 mt-md-0 mt-5">
                    <div class=".footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Navigation</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="index.html">
                                    Home
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#about" class="scroll">
                                    About Us
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#portfolio" class="scroll">
                                    Gallery
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#services" class="scroll">
                                    Services
                                </a>
                            </li>
                            <li>
                                <a href="#contact" class="scroll">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Links</h3>
                        <hr>
                        <ul class="list-w3pvtits">
                            <li>
                                <a href="index.html">
                                    Overview
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#posts" class="scroll">
                                    Latest posts
                                </a>
                            </li>
                            <li class="my-2">
                                <a href="#stat" class="scroll">
                                    Facts
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#contact" class="scroll">
                                    Find us
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                    <div class="footerv2-w3ls">
                        <h3 class="mb-3 w3f_title">Contact Us</h3>
                        <hr>
                        <div class="fv3-contact">
                            <p>
                                <a href="mailto:example@email.com">info@example.com</a>
                            </p>
                        </div>
                        <div class="fv3-contact my-2">
                            <p>+456 123 7890</p>
                        </div>
                        <div class="fv3-contact">
                            <p>
                                +90 nsequursu dsdesdc,
                                <br>xxx Street State 34789.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <div class="cpy-right">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="wthree-social">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook-f icon_facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter icon_twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-dribbble icon_dribbble"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-google-plus icon_g_plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right mt-lg-0 mt-4">
                    <p>
                        © 2019 by Smart Traffic Team AutoWin
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-bg">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Signin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Home/Login" method="post" class="p-sm-3">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email</label>
                            <input type="text" class="form-control" placeholder="" name="Email" id="recipient-name"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder="" name="Password" id="password"
                                   required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme1" value="Login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col-sm-6 sub-w3_pvt">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-dark">
                                    <span></span>Remember me?
                                </label>
                            </div>
                            <div class="col-sm-6 forgot-w3l text-sm-right">
                                <a href="#" class="text-secondary">Forgot Password?</a>
                            </div>
                        </div>
                        <p class="text-center">
                            Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-secondary">
                                Register Now
                            </a>

                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!-- register -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg">
                    <form action="/Home/Register" method="post" class="p-sm-3">
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder="" name="Email" id="recipient-email"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">FirstName</label>
                            <input type="text" class="form-control" placeholder="" name="FirstName" id="recipient-rname"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">LastName</label>
                            <input type="text" class="form-control" placeholder="" name="LastName" id="recipient-rname"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone</label>
                            <input type="text" class="form-control" placeholder="" name="Phone" id="recipient-rname"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Address Detail</label>
                            <input type="text" class="form-control" placeholder="" name="AddressDetail" id="recipient-rname"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Identity | Passport</label>
                            <input type="text" class="form-control" placeholder="" name="Identity" id="recipient-rname"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Gender</label>
                            <select name="Gender" class="form-control">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Orther not say</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder="" name="Password" id="password1"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="" id="password2"
                                   required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-w3_pvt">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="mb-3 text-dark">
                                    <span></span>I Accept to the Terms & Conditions
                                </label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control bg-theme1" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // register -->
    <!-- blog modal1 -->
    @RenderSection("News", required: true)
    @RenderSection("Notifications", required: true)
    <!-- //blog modal1 -->
    <!-- blog modal2 -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-theme">
                    <h5 class="modal-title" id="exampleModalLabel3">This is a standard post.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="/Assets/client/images/g2.jpg" class="img-fluid" alt="" />
                    <p class="text-left my-4">
                        Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                        nisl
                        tempus convallis quis ac
                        lectus. Cras ultricies ligula sed magna dictum porta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //blog modal2 -->
    <!-- blog modal3 -->
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-theme">
                    <h5 class="modal-title" id="exampleModalLabel4">This is a standard post.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="/Assets/client/images/g3.jpg" class="img-fluid" alt="" />
                    <p class="text-left my-4">
                        Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet
                        nisl
                        tempus convallis quis ac
                        lectus. Cras ultricies ligula sed magna dictum porta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //blog modal3-->
    <!-- js -->
    <script>
        $('.nearBy').click(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude;
                    var lng = position.coords.longitude;
                    // alert(lat);
                    $('.lat').val(lat);
                    $('.lng').val(lng);
                    $('.nearBy').submit();
                });
            } else {
                alert('vui lòng cho phép sử dụng vị trí của bạn.')
            }
        });
    </script>

    <script src="/Assets/client/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- Banner  Responsiveslides -->
    <script src="/Assets/client/js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //Banner  Responsiveslides -->
    <!-- gallery -->
    <script src="/Assets/client/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('.demo li'));
            $('.demo li').picEyes();
        });
    </script>
    <!-- //gallery -->
    <!-- stats -->
    <script src="/Assets/client/js/counter.js"></script>
    <!-- //stats -->
    <!-- start-smooth-scrolling -->
    <script src="/Assets/client/js/move-top.js"></script>
    <script src="/Assets/client/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/Assets/client/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Assets/client/js/bootstrap.js"></script>
    @RenderSection("jsFooter", required: false)
</body>

</html>