﻿@model IEnumerable<Model.EF.Complain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">

        <div class="col-lg-6 mb-5" style="margin-top: 10px; ">
            @{
                DateTime paramFinder = Convert.ToDateTime(DateTime.Now);
                string mFinder = paramFinder.ToString("MM");
                string dFinder = paramFinder.ToString("dd");
                int dateFinder = Convert.ToInt32(dFinder) - 7;
                int endDateFinder = Convert.ToInt32(dFinder) + 1;
                string yFinder = paramFinder.ToString("yyyy");
                var startDateFinder = mFinder + '/' + dateFinder + '/' + yFinder;
                var endate = mFinder + '/' + endDateFinder + '/' + yFinder;
            }
            <div class="row">
                <div class="col-lg-2">
                    <p style="font-size: 20px;"><b>Date</b></p>
                </div>
                <div class="col-lg-10">
                    <input type="text" id="DateFinter" name="daterange" style="width: 100%; border-radius: 3px; border: 1px solid #bdbdbd; height:35px;" value="@startDateFinder - @endate" />
                </div>
            </div>
        </div>
        <div class="agile-tables">

            <div class="w3l-table-info">
                @*<input id="roleID" value="@Session["CategoryNewID"].ToString()" type="hidden" />*@
                <h2>List complain</h2>
                @*@Html.ActionLink("Create Role", "Create", new { id = ViewBag.InsuranceID })*@
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User,Email User</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>
                                    @foreach (var item1 in ViewBag.getInforUser)
                                    {
                                        if (item1.ID == item.UserID)
                                        {
                                            <a href="/AdminManager/ComplainAdmin/Details/@item1.ID">
                                                <label>@item1.FirstName</label>
                                                <label>@item1.LastName</label>
                                            </a>
                                            <p>@item1.Email</p>
                                        }
                                    }
                                </td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                    <p style="background-color:green;color:white; text-align:center;border-radius:5px;width:50%">Solving</p>
                                    }
                                    else if (item.Status == 2)
                                    {
                                    <p style="background-color:yellowgreen;color:white; text-align:center;border-radius:5px;width:50%">Solved</p>
                                    }
                                    else if (item.Status == 0)
                                    {
                                    <p style="background-color:gray;color:white; text-align:center;border-radius:5px;width:50%">Wait</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                    <a href="#" data-id="@item.ID" class="btn-Done">Finish</a>
                                    }
                                    else if (item.Status == 0)
                                    {
                                    <a href="#" data-id="@item.ID" class="btn-Processing">Handling</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/Admin/js/ComplainAdmin.js"></script>

