﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewMail</title>
    <style>
        .contract {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 99%;
        }

            .contract td, .contract th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            .contract tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 20px">Team Smart Traffic notification</h2>
        <h3>Your complaint has been resolved by us.</h3>
        <p>----------------------------------------------------------------------------------</p>
        <table id="tables" class="contract" style="border: 1px solid #bdbdbd">
            <thead style="border: 1px solid #bdbdbd">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody style="border: 1px solid #bdbdbd">
                <tr>
                    <td>{{ID}}</td>
                    <td>{{Title}}</td>
                    <td>{{Description}}</td>
                    <td>{{Status}}</td>
                </tr>
            </tbody>
        </table>
        <p>----------------------------------------------------------------------------------</p>
        <h3 style="color: red;">Thanks for your comments.</h3>
    </div>
</body>
</html>


