﻿@model IEnumerable<Model.EF.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                @*<input id="roleID" value="@Session["CategoryNewID"].ToString()" type="hidden" />*@
                <h2>List User</h2>
                @Html.ActionLink("Create Role", "Create", new { id = ViewBag.InsuranceID })
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address Detail</th>
                            <th>Identity</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.AddressDetail</td>
                                <td>@item.Identity</td>
                                <td>
                                    @if (item.Gender == 1)
                                    {
                                        <p>Nam</p>
                                    }
                                    else
                                    {
                                        <p>Nữ</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p style="background-color:green;color:white; text-align:center;border-radius:5px;width:50%">Active</p>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <p style="background-color:greenyellow;color:white; text-align:center;border-radius:5px;width:50%">Awaiting Approval</p>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;width:50%">Locked</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == 2)
                                    {
                                        <a href="#" data-id="@item.ID" class="btn-pheduyet">Approved</a>
                                        <label>|</label>
                                        <a href="#" data-id="@item.ID" class="btn-tuchoi">Refuse</a>
                                    }
                                    else if (item.Status == 1)
                                    {
                                        <a href="#" data-id="@item.ID" class="btn-khoa">Lock</a>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <a href="#" data-id="@item.ID" class="btn-molai">Reopen</a>
                                    }
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>

<script src="~/Assets/Admin/js/ManagerUser.js"></script>
