﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewMail</title>
    <style>
        .contract {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 99%;
        }

            .contract td, .contract th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            .contract tr:nth-child(even) {
                background-color: #dddddd;
            }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 20px">Team Smart Traffic notification</h2>
        <h3>Hello your <label>{{FirstName}} {{LastName}}</label> Your {{Email}} account is not approved, please register again.</h3>

        <p>----------------------------------------------------------------------------------</p>
        <h3 style="color: red;">Thank you for using our website.</h3>
    </div>
</body>
</html>


