﻿@model IEnumerable<Model.EF.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/basictable.css" />
    <script type="text/javascript" src="/Assets/admin/js/jquery.basictable.min.js"></script>
}

<div class="agile-grids">
    <!-- tables -->
    <div class="mother-grid-inner">


        <div class="agile-tables">
            <div class="w3l-table-info">
                @*<input id="roleID" value="@Session["CategoryNewID"].ToString()" type="hidden" />*@
                <h2>List role</h2>
                @Html.ActionLink("Create Role", "Create", new { id = ViewBag.InsuranceID })
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <p style="background-color:green;color:white; text-align:center;border-radius:5px;width:50%">Active</p>
                                    }
                                    else
                                    {
                                        <p style="background-color:red;color:white; text-align:center;border-radius:5px;width:50%">Locked</p>
                                    }
                                </td>
                                <td>
                                    <a href="/AdminManager/RoleAdmin/Edit/@item.ID">Edit</a> |
                                    <a href="#" data-id="@item.ID" class="delete_Role">Delete</a> |
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- //tables -->
</div>
@*<script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
            $('.wysihtml5').wysihtml5();
        });
    </script>*@
